<div>
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <a class="navbar-brand" href="#">MyApp</a>
     <div class="collapse navbar-collapse">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item">
           <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
         </li>
         <!-- Ajoutez d'autres liens de navigation si nécessaire -->
       </ul>
     </div>
   </nav>
   <div class="container mt-4">
     <router-outlet></router-outlet>
   </div>
 </div>