<div class="container">
    <p class="text-center mt-4">Home works!</p>
    <div class="list-group">
        <a href="/container" class="list-group-item list-group-item-action">ContainerComponent</a>
        <a href="/FormulaireExempleComponent" class="list-group-item list-group-item-action">FormulaireExempleComponent</a>
        <a href="/FormulaireExemple2Component" class="list-group-item list-group-item-action">FormulaireExemple2Component</a>
        <a href="/FormulaireExemple3Component" class="list-group-item list-group-item-action">FormulaireExemple3Component</a>
        <a href="/FormulaireExemple4Component" class="list-group-item list-group-item-action">FormulaireExemple4Component</a>
        <a href="/FormulaireExemple5Component" class="list-group-item list-group-item-action">FormulaireExemple5Component</a>
        <a href="/display" class="list-group-item list-group-item-action">Display</a>
        <a href="/users" class="list-group-item list-group-item-action">Users</a>
        <a href="/userservice" class="list-group-item list-group-item-action">Users Service</a>
    </div>
</div>